.wrap {
  padding: 0 0.4rem; }

.p1 {
  font-size: 0.42667rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.17333rem;
  font-weight: bold; }
  .p1 img {
    width: 0.96rem;
    margin-right: 0.21333rem; }

.p2 {
  margin-top: 1.6rem;
  text-align: center; }
  .p2 > img {
    width: 1.6rem; }
  .p2 > div {
    margin-top: 0.42667rem;
    color: #44C96F;
    font-size: 0.42667rem;
    line-height: 0.58667rem; }
  .p2 > p {
    margin-top: 0.64rem;
    font-size: 0.37333rem; }

.p3 {
  margin-top: 1.6rem; }
  .p3 > div {
    background-color: #FE0000;
    line-height: 1.33333rem;
    border-radius: 0.10667rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.48rem; }
